@import "../variables.scss";

.card {
  position: relative;
  display: flex;
  height: 122px;
  background-size: cover;
  background-position: center;
  h3 {
    z-index: 1;
  }
}

@media (min-width: 376px) {
  .card {
    height: 600px;
    &.from-above {
      background-image: url(../../images/mobile/image-from-above.jpg);
    }
  }
}
