@import "../variables.scss";

.list-article {
  text-align: center;
  .grid {
    margin: 15px 0;
  }
  .button {
    border: 0.5px black solid;
    padding: 5px 22px;
    width: 22%;
    font-size: 11px;
    letter-spacing: 3px;
    transition: color 200ms ease-in-out;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
